/** ---------------------- GENERAL ---------------------- **/

html {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom right, #e6e3e3, #e0e0e0);
  color: #555555;
  font-size: 1em;
  font-family: "SimSun";
  background-attachment: fixed;
}

.container {
  margin-top: 1rem;
}


/** ---------------------- NAVBAR ---------------------- **/




/** ---------------------- Image ---------------------- **/
.logo {
  height: auto;
  width: 5em;
}