<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nightly Adventures with the TAs</title>
        <link rel='stylesheet' href='/static/styles.css'>
        <link rel='stylesheet' href='/static/bootstrap.min.css'>
    </head>
    <body>
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h2>Our First Post</h2>
        <a href="/"><img class="logo" src="/static/Logo.png" alt="logo"></a>
        <p>7:00 pm - The Ceremony starts!</p>
        <h2>Update #1</h2>
        <a href="/"><img class="logo" src="/static/friends.png" alt="logo"></a>
        <p>7:38 pm - New Friends!</p>
        <h2>Update #2</h2>
        <a href="/"><img class="logo" src="/static/naughty.png" alt="logo"></a>
        <p>8:47 pm - Naughty...</p>
        <h2>Update #3</h2>
        <a href="/"><img class="logo" src="/static/vibe.png" alt="logo"></a>
        <p>12:07 am - Vibing :)</p>
        <h2>Update #4</h2>
        <a href="/"><img class="logo" src="/static/run.png" alt="logo"></a>
        <p>2:16 am - Freezing Fun Run</p>
        <h2>Update #5</h2>
        <a href="/"><img class="logo" src="/static/icecream.png" alt="logo"></a>
        <p>2:33 am - Screaming for Ice Cream!</p>
    </body>
</html>


<!-- <nav class="navbar">
    <ul>
        <li><a href="main.html" class="main">Home</a></li>
        <li><a href="posts.html" class="post">Posts</a></li>
    </ul>
</nav> -->



       <!-- NAV BAR
       <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <!--LOGO GOES HERE-->
                <!-- <li class="nav-item">
                    <a href="/"><img class="logo" src="/static/Logo.png" alt="logo"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">about us</a>
                </li>
            </ul>
        </div>
    </nav> -->