<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nightly Adventures with the TAs</title>
        <link rel='stylesheet' href='/static/styles.css'>
        <link rel='stylesheet' href='/static/bootstrap.min.css'>
    </head>
    <body>
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">Our Posts</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h2>Our First Post</h2>
        <p>7:00pm - The Ceremony starts!</p>
    </body>
</html>